<header class="header">
  <div class="logo">
    <a routerLink="/">Bike Motion</a>
  </div>
  <nav class="nav-links">
    <a routerLink="/">Catálogo</a>

    <a routerLink="/cart" class="cart-link">
      Carrinho
      @if (cartService.totalItems() > 0) {
        <span class="badge">{{ cartService.totalItems() }}</span>
      }
    </a>

    <a routerLink="/meus-pedidos" class="header-btn"> 📦 Pedidos </a>

    @if (authService.currentUser()) {
      <a routerLink="/meus-pedidos" class="header-btn">📦 Pedidos</a>
      <span class="user-greeting">Olá, {{ getUserDisplayName(authService.currentUser()) }}!</span>
      <button (click)="authService.logout()" class="logout-btn">Sair</button>
    } @else {
      <a routerLink="/login" class="login-btn">Entrar / Login</a>
    }
  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>
